@import url('https://fonts.googleapis.com/css?family=Marcellus|Questrial');

* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	text-align: left;
	font-family: 'Marcellus', serif;
	background-image: url(../img/lightpaperfibers.png);
	background-repeat: repeat;
	background-position: 0 0;
	display: flex;
	flex-flow: column nowrap;
	max-width: 100%;
}

p {
	font-family: 'Questrial', sans-serif;
	line-height: 1.5em;
}

a {
	color: #B32017;
	opacity: 0.9;
	transition: 0.2s all ease-in-out;
}

a:hover {
	opacity: 1;
}

img {
	max-width: 100%;
}

h1,h2,h3,h4,h5 {
	color: #062b0e;
}

h1 {
	font-size: 2.1em;
    margin: 0em 0em 0.83em;
}
	h1 .tb-saga {
		color: #B32017;
		font-size: 0.6em;
	}

h2 {
	font-size: 1.3em;
    margin: 0em 0em 0.83em;
}
h2.h1-sub {
	font-family: 'Questrial', sans-serif;
}

h3 {
	font-size: 1.17em;
	margin: 0em 0em 1em;
}

.nav-bar {
	width: 100%;
	min-height: 140px;
	padding: 10px 30px;
	background-color: #e7e7e4;
	border-bottom: 3px solid #062b0e;
	display: flex;
	flex-flow: row nowrap;
}
	.nav-content {
		padding: 10px 40px 10px 20px;
	}
	
	.nav-site-title {
		font-size: 3.4em;
		color: #062b0e
	}

	.nav-links {
		display: flex;
		flex-flow: row nowrap;
	}

	.nav-links a {
		color: #333;
		display: block;
		margin-right: 20px;
		text-decoration: none;
		font-family: 'Questrial', sans-serif;
		transition: 0.2s all ease-in-out;
	}

	.nav-links a:hover {
		color: #8E0000;
	}

	.nav-logo img{
		width: 110px;
	}

.home-content {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 1100px;
	max-width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 20px auto;
	padding: 0px 10px;
}

.product-content {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 840px;
	max-width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 20px auto;
	padding: 0px 20px;
}

.title-card {
	text-align: center;
	padding: 25px 40px;
}

.title-img-full {
	margin: 0px 0px;
}

.title-img-half {
	max-width: 50%;
	margin: 0 auto;
}
@media (max-width: 800px) {
	.title-img-half {
		max-width: 100%;
	}
}

.title-desc {
	padding: 10px 40px 25px;
}

.title-details {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-top: 6px solid #333;
	padding: 60px 0px;
	margin: 60px 20px;
}
	.title-cover-text {
		font-family: 'Marcellus', serif;
		font-size: 2.2em;
		text-align: center;
		max-width: 300px;
		padding-bottom: 15px;
	}

	.title-splash {
		flex: 1 1 50%;
	}

	.title-cta {
		flex: 1 1 50%;
		align-self: center;
		text-align: center;
	}

	.title-cta-desc {
		margin-bottom: 20px;
		color: #333;
		font-size: 0.85em;
	}

.home-intro {
	text-align: center;
}

.product-list {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
	.product-list-item {
		flex: 0 0 500px;
		height: 390px;
		border: 1px solid #e7e7e4;
		display: flex;
		justify-content: space-between;
		margin: 20px;
	}

	.product-list-item-focus {
		flex: 1 1 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.product-title {
		font-size: 1.5em;
	}

	.product-cover {
		flex: 0 0 300px;
	}

	.product-info {
		flex: 1 0 200px;
		padding: 10px 15px;
	}

	.product-info .btn {
		margin-bottom: 15px;
		width: 100%;
	}


.btn {
	padding: 1em 1.3em;
	border-radius: 5px;
	background-color: #808080;
	color: #333;
	transition: 0.2s all ease-in-out;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

.btn:hover {
	color: #000;
	background-color: #B32017;
}

.btn-cta {
	color: #E6E6E6;
	background-color: #B32017;
	width: 100%;
}

.btn-cta:hover {
	color: #fff;
	background-color: #751610;
}

.btn-link {
	color: #E6E6E6;
	background-color: #17B355;
}

.btn-link:hover {
	color: #fff;
	background-color: #0C6630;
}