@import url('https://fonts.googleapis.com/css?family=Marcellus|Questrial');

body {
	padding: 30px;
	text-align: center;
	font-family: 'Marcellus', serif;
}

p {
	font-family: 'Questrial', sans-serif;
}