<!doctype html>
<!-- start coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-us" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-us" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-us" >               <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-us">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="">
  <meta name="description" content="A blog on all things Torchbearer, Published by Mordite Press, purveyor of Tb adventures and modules">
  <meta name="generator" content="HubSpot">
  <title>Mordite Press Blog</title>
  <link rel="shortcut icon" href="https://blog.mordite.press/hubfs/favicon.ico?t=1534696565527">


  <!-- <link rel="stylesheet" href="/hs-fs/css/2068068/hub_generated/template_assets/1534696616445/combined-css-0fdf844d90ec66a07a0db6fb6c5516ee.css"> -->
  <script src="http://blog.mordite.press/hs/hsstatic/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
  <script>hsjQuery = window['jQuery'];</script>

  <meta property="og:description" content="A blog on all things Torchbearer, Published by Mordite Press, purveyor of Tb adventures and modules">
  <meta property="og:title" content="Mordite Press Blog">
  <meta name="twitter:description" content="A blog on all things Torchbearer, Published by Mordite Press, purveyor of Tb adventures and modules">
  <meta name="twitter:title" content="Mordite Press Blog">







  <!--  Added by GoogleAnalytics integration -->

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105973247-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- /Added by GoogleAnalytics integration -->



  <meta name="viewport" content="width=device-width, initial-scale=1">


  <meta property="og:type" content="blog">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="blog.mordite.press">
  <link rel="alternate" type="application/rss+xml" href="//blog.mordite.press/rss.xml">
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
  </script>

  <meta http-equiv="content-language" content="en-us">




  <link rel="next" href="//blog.mordite.press/page/2">









  <meta property="og:image" content="https://cdn2.hubspot.net/hub/2068068/hubfs/assets/banners/shieldwall-illustration-gibeault.png?width=780&amp;name=shieldwall-illustration-gibeault.png&amp;t=1534696565527">



</head>

<body class="   hs-blog-id-3920686537 hs-blog-listing" id="skrollr-body">
  <!-- start coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->

  <header class="header">
    <div class="header__wrapper wrapper">
      <div class="header__title">
        <a href="/">
          Mordite Press
        </a>
      </div>
      <nav class="header__nav">
        <ul>
          <li>
            <a href="/topic/products">All Products</a>
          </li>
          <li>
            <a href="/topic/modules">Modules</a>
          </li>
          <li>
            <a href="/topic/supplements">Supplements</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- end coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->
  <div id="hs_cos_wrapper_module_15341108961761208" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <section data-variant="default" class="banner" style="background-image:url('https://cdn2.hubspot.net/hub/2068068/hubfs/assets/banners/shieldwall-illustration-gibeault.png?width=1900&amp;name=shieldwall-illustration-gibeault.png&amp;t=1534696565527')">
      <div class="banner__content wrapper">
        <h1 class="banner__title">mordite press</h1>
        <h2 class="banner__subtitle">Wicked dope Torchbearer Sagas content</h2>
      </div>
    </section>
  </div>
  <div id="hs_cos_wrapper_module_15341112306751222" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <section class="recent-product">
      <div class="recent-product__wrapper wrapper">
        <div class="recent-product__image" data-0="transform:translateX(-200px);opacity:0" data-500="transform: translateX(0px);opacity:1">
          <a href="//blog.mordite.press/roost-of-the-condor-queen">
            <img src="https://blog.mordite.press/hubfs/roost-of-the-condor-queen-torchbearer.jpg?t=1534696565527" alt="Picture of Roost of the Condor Queen">
          </a>
        </div>
        <div class="recent-product__content" data-0="opacity:0" data-300="opacity: 1 ">
          <h2>Most Recent Release</h2>
          <h3 class="recent-product__heading">
            <a href="//blog.mordite.press/roost-of-the-condor-queen">Roost of the Condor Queen</a>
          </h3>
          Explore the lost city of Puku and uncover the magics of the Condor Queen.
          <div class="recent-product__cta">
            <a href="//blog.mordite.press/roost-of-the-condor-queen" class="cta" data-theme="primary">Details</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <main class="post-listing wrapper" data-bottom-top="transform: translateY(-50px);opacity: 0.2" data-center="transform: translateY(0px);opacity: 1">
    <div class="post-listing__item" data-theme="primary">
      <h3 class="post-listing__heading">
        <a href="//blog.mordite.press/roost-of-the-condor-queen">Roost of the Condor Queen</a>
      </h3>
      <div class="post-listing__content"><img src="https://cdn2.hubspot.net/hub/2068068/hubfs/roost-of-the-condor-queen-torchbearer.jpg?width=134&amp;name=roost-of-the-condor-queen-torchbearer.jpg&amp;t=1534696565527"
          alt="Image for Roost of the Condor Queen" class="post-listing__bg"><p class="post-listing__description">A century
          ago, emissaries from Puku would travel into the kingdom of Feudor, offering priceless artifacts to trade and dispensing
          unique insights into the profound mysteries of the Otherworld. For a...</p>
        <div class="post-listing__cta">
          <a href="//blog.mordite.press/roost-of-the-condor-queen">Read More »</a>
        </div>
      </div>
      <div class="post-listing__tags"><a href="//blog.mordite.press/topic/products">Products</a>
        <a href="//blog.mordite.press/topic/modules">Modules</a>
      </div>
    </div>
  </main>


  <div class="post-listing__pagination">
    <ul>

      <li><a class="post-listing__pagination-first disabled" rel="prev" href="//blog.mordite.press">‹ Prev</a></li>
      <li><a class="post-listing__pagination-num post-listing__pagination-current" href="//blog.mordite.press/page/1">1</a></li>
      <li><a class="post-listing__pagination-num" rel="next" href="//blog.mordite.press/page/2">2</a></li>
      <li><a class="post-listing__pagination-num" href="//blog.mordite.press/page/3">3</a></li>
      <li><a class="post-listing__pagination-num" href="//blog.mordite.press/page/4">4</a></li>
      <li><a class="post-listing__pagination-num" href="//blog.mordite.press/page/5">5</a></li>
      <li><a class="post-listing__pagination-last " rel="next" href="//blog.mordite.press/page/2">Next ›</a></li>
    </ul>
  </div>
  <!-- start coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->
  <!-- postImage:  -->
  <footer class="footer" style="background-image:url('https://blog.mordite.press/hubfs/random-art/shieldwall-illustration-gibeault.png?t=1534696565527')">
    <div class="footer__content wrapper">
      <ul>
        <li>
          <a href="https://plus.google.com/+OwenO" target="_blank">Google Plus</a>
        </li>
        <li>
          <a href="http://www.drivethrurpg.com/browse/pub/11809/Mordite-Press" target="_blank">DriveThruRPG</a>
        </li>
        <li>
          <a href="https://twitter.com/morditepress" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/lord_mordeth/" target="_blank">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/morditepress/" target="_blank">Facebook</a>
        </li>

      </ul>
    </div>
  </footer>

  <script type="text/javascript" src="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534123423671/Custom/Blog/Mordite_Blog/Coded_Files/scripts.js"></script>
  <!-- end coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->


  <script type="text/javascript" src="http://blog.mordite.press/hs/hsstatic/content_shared_assets/static-1.4081/js/public_common.js"></script>
  <script>
      (function () {
        window.addEventListener('load', function () {
          setTimeout(function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://blog.mordite.press/_hcms/perf', true /*async*/);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.onreadystatechange = function () {
              // do nothing.
            };
            var connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection;
            function populateNetworkInfo(name, connection, info) {
              if (name in connection) {
                info[name] = connection[name];
              }
            }
            var networkInfo = {};
            if (connection) {
              ['type', 'effectiveType', 'downlink', 'rtt'].forEach(function (name) {
                populateNetworkInfo(name, connection, networkInfo);
              });
            }
            var perfData = {
              url: location.href,
              portal: 2068068,
              content: -1,
              group: 3920686537,
              connection: networkInfo,
              timing: performance.timing
            };
            xhr.send(JSON.stringify(perfData));
          }, 3000);  // Execute this 3 seconds after onload.
        });
      })();
  </script>

  <script>
    if (typeof hsVars !== 'undefined') { hsVars['language'] = 'en-us'; }
  </script>

  <script src="http://blog.mordite.press/hs/hsstatic/cos-i18n/static-1.10/bundles/project.js"></script>

  <!-- Start of HubSpot Analytics Code -->
  <script type="text/javascript">
    var _hsq = _hsq || [];
    _hsq.push(["setContentType", "listing-page"]);
    _hsq.push(["setCanonicalUrl", "http:\/\/blog.mordite.press"]);
    _hsq.push(["setPageId", "3920686537"]);
    _hsq.push(["setContentMetadata", {
      "contentPageId": null,
      "legacyPageId": null,
      "contentFolderId": null,
      "contentGroupId": 3920686537,
      "abTestId": null,
      "languageVariantId": null,
      "languageCode": null
    }]);
  </script>

  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2068068.js"></script>
  <!-- End of HubSpot Analytics Code -->


  <script type="text/javascript">
    var hsVars = {
      ticks: 1534697331127,
      page_id: 0,
      content_group_id: 3920686537,
      portal_id: 2068068,
      app_hs_base_url: "https://app.hubspot.com",
      language: "en",
      analytics_page_type: "listing-page",
      category_id: 3,
      folder_id: 0
    }
  </script>





  <div id="fb-root"></div>
  <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">
    window.___gcfg = {
      lang: 'en-US',
      parsetags: 'onload'
    };
    (function () {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>




  <!-- end coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
</body>

</html>