<!doctype html>
<!-- start coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-us" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-us" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-us" >               <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-us">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Owen">
  <meta name="description" content="The Great Tree of Puku from our new Torchbearer adventure Roost of the Condor Queen. Matt Gibeault is the artist. It was our goal to make the areas immediately recognizable with thumbnail illustrations. Since it's a tree and effects and information can &quot;bleed&quot; from one room to another easily, we wanted to help GMs improvise info from adjacent rooms without looking things up.">
  <meta name="generator" content="HubSpot">
  <title>The Great Tree of Puku map</title>
  <link rel="shortcut icon" href="https://blog.mordite.press/hubfs/favicon.ico?t=1534696565527">


  <script src="/hs/hsstatic/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
  <script>hsjQuery = window['jQuery'];</script>
  <link href="/hs/hsstatic/content_shared_assets/static-1.4081/css/public_common.css" rel="stylesheet">
  <meta property="og:description" content="The Great Tree of Puku from our new Torchbearer adventure Roost of the Condor Queen. Matt Gibeault is the artist. It was our goal to make the areas immediately recognizable with thumbnail illustrations. Since it's a tree and effects and information can &quot;bleed&quot; from one room to another easily, we wanted to help GMs improvise info from adjacent rooms without looking things up.">
  <meta property="og:title" content="The Great Tree of Puku map">
  <meta name="twitter:description" content="The Great Tree of Puku from our new Torchbearer adventure Roost of the Condor Queen. Matt Gibeault is the artist. It was our goal to make the areas immediately recognizable with thumbnail illustrations. Since it's a tree and effects and information can &quot;bleed&quot; from one room to another easily, we wanted to help GMs improvise info from adjacent rooms without looking things up.">
  <meta name="twitter:title" content="The Great Tree of Puku map">


  <link rel="stylesheet" href="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/module_assets/1534699803410/module_6057094665.min.css">



  <!--  Added by GoogleAnalytics integration -->

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105973247-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- /Added by GoogleAnalytics integration -->



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="amphtml" href="http://blog.mordite.press/the-great-tree-of-puku-map?hs_amp=true">

  <meta property="og:image" content="https://blog.mordite.press/hubfs/Great_Tree.jpg?t=1534696565527#keepProtocol">
  <meta property="og:image:width" content="1067">
  <meta property="og:image:height" content="1380">
  <meta name="twitter:image" content="https://blog.mordite.press/hubfs/Great_Tree.jpg?t=1534696565527#keepProtocol">

  <meta property="og:url" content="http://blog.mordite.press/the-great-tree-of-puku-map">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="canonical" href="http://blog.mordite.press/the-great-tree-of-puku-map">

  <meta property="og:type" content="article">
  <link rel="alternate" type="application/rss+xml" href="//blog.mordite.press/rss.xml">
  <meta name="twitter:domain" content="blog.mordite.press">
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
  </script>

  <meta http-equiv="content-language" content="en-us">







  <link rel="stylesheet" href="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534699886247/Custom/Blog/Mordite_Blog/Coded_Files/global.css">


  <link rel="stylesheet" href="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534126921015/Custom/Blog/Mordite_Blog/Coded_Files/header.min.css">


  <link rel="stylesheet" href="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534111865165/Custom/Blog/Mordite_Blog/Coded_Files/footer.min.css">

  <link rel="stylesheet" href="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534695069585/Custom/Blog/Mordite_Blog/Coded_Files/post.min.css">



</head>

<body class="   hs-content-id-6022109058 hs-blog-post hs-blog-id-3920686537" id="skrollr-body">
  <!-- start coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->

  <header class="header">
    <div class="header__wrapper wrapper">
      <div class="header__title">
        <a href="/">
          Mordite Press
        </a>
      </div>
      <nav class="header__nav">
        <ul>
          <li>
            <a href="/topic/products">All Products</a>
          </li>
          <li>
            <a href="/topic/modules">Modules</a>
          </li>
          <li>
            <a href="/topic/supplements">Supplements</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- end coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->


  <div id="hs_cos_wrapper_module_15341108961761208_post" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <section data-variant="short" class="banner lazy" data-src="https://cdn2.hubspot.net/hub/2068068/hubfs/Great_Tree.jpg?width=1900&amp;name=Great_Tree.jpg">
      <div class="banner__content wrapper">
        <h1 class="banner__title"><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text"
            style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">The Great Tree of Puku map</span></h1>
        <h2 class="banner__subtitle">The Great Tree of Puku from our new Torchbearer adventure Roost of the Condor Queen.
          Matt Gibeault is the artist. It was our goal to make the areas immediately recognizable with thumbnail illustrations.
          Since it's a tree and effects and information can "bleed" from one room to another easily, we wanted to help GMs
          improvise info from adjacent rooms without looking things up.</h2>
      </div>
    </section>
  </div>
  <main class="wrapper post">
    <section class="post__meta">
      <h2>
        <span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="meta_field"
          data-hs-cos-type="text">The Great Tree of Puku map</span>
      </h2>
      <div id="hubspot-author_data" class="hubspot-editable post__author" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
        <a href="//blog.mordite.press/author/owen" class=" post__author-avatar">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn2.hubspot.net/hubfs/2068068/Screen%20Shot%202018-08-19%20at%2012.14.57%20PM.png"
            alt="Photo of Owen"></a>
        <div class=" post__author-meta">
          Written by <a href="//blog.mordite.press/author/owen">Owen</a> on Fri, July 20, 2018 8:14 PM
        </div>
      </div>
    </section>

    <article class="post__article">
      <span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" style=""
        data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="https://cdn2.hubspot.net/hubfs/2068068/Great_Tree.jpg" alt="Great_Tree" width="300" style="font-size: 16px; width: 300px; float: right; margin: 0px 10px 10px 0px;">
        <p>The Great Tree of Puku from our new Torchbearer adventure <em>Roost of the Condor Queen</em>. Matt Gibeault is
          the artist. It was our goal to make the areas immediately recognizable with thumbnail illustrations. Since it's
          a tree and effects and information can "bleed" from one room to another easily, we wanted to help GMs improvise
          info from adjacent rooms without looking things up.</p>
        <!--more-->
        <p>We also used the thumbnail illustrations alongside our box text (seen in the second pic) which is a trick we lifted
          from <em>Secret Vault of the Queen of Thieves</em>, but it's so helpful I think almost any keyed module should
          use it!</p></span>
    </article>


    <div class="post__comments">
      0 Comments <a href="//blog.mordite.press/the-great-tree-of-puku-map#comments-listing">Click here to read/write comments</a>
    </div>
    <p class="post__topics"> Topics:

      <a class="post__topics-link" href="//blog.mordite.press/topic/art">Art</a>

    </p>
  </main>
  <!-- start coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->
  <!-- postImage: https://cdn2.hubspot.net/hubfs/2068068/Great_Tree.jpg -->
  <footer class="footer" style="background-image:url('https://blog.mordite.press/hubfs/Great_Tree.jpg?t=1534696565527')">
    <div class="footer__content wrapper">
      <ul>
        <li>
          <a href="https://plus.google.com/+OwenO" target="_blank">Google Plus</a>
        </li>
        <li>
          <a href="http://www.drivethrurpg.com/browse/pub/11809/Mordite-Press" target="_blank">DriveThruRPG</a>
        </li>
        <li>
          <a href="https://twitter.com/morditepress" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/lord_mordeth/" target="_blank">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/morditepress/" target="_blank">Facebook</a>
        </li>

      </ul>
    </div>
  </footer>

  <script type="text/javascript" src="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534699849337/Custom/Blog/Mordite_Blog/Coded_Files/scripts.js"></script>
  <!-- end coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->


  <script type="text/javascript" src="/hs/hsstatic/content_shared_assets/static-1.4081/js/public_common.js"></script>
  <script>
      (function () {
        window.addEventListener('load', function () {
          setTimeout(function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/_hcms/perf', true /*async*/);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.onreadystatechange = function () {
              // do nothing.
            };
            var connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection;
            function populateNetworkInfo(name, connection, info) {
              if (name in connection) {
                info[name] = connection[name];
              }
            }
            var networkInfo = {};
            if (connection) {
              ['type', 'effectiveType', 'downlink', 'rtt'].forEach(function (name) {
                populateNetworkInfo(name, connection, networkInfo);
              });
            }
            var perfData = {
              url: location.href,
              portal: 2068068,
              content: 6022109058,
              group: -1,
              connection: networkInfo,
              timing: performance.timing
            };
            xhr.send(JSON.stringify(perfData));
          }, 3000);  // Execute this 3 seconds after onload.
        });
      })();
  </script>

  <script>
    if (typeof hsVars !== 'undefined') { hsVars['language'] = 'en-us'; }
  </script>

  <script src="/hs/hsstatic/cos-i18n/static-1.10/bundles/project.js"></script>

  <!-- Start of HubSpot Analytics Code -->
  <script type="text/javascript">
    var _hsq = _hsq || [];
    _hsq.push(["setContentType", "blog-post"]);
    _hsq.push(["setCanonicalUrl", "http:\/\/blog.mordite.press\/the-great-tree-of-puku-map"]);
    _hsq.push(["setPageId", "6022109058"]);
    _hsq.push(["setContentMetadata", {
      "contentPageId": 6022109058,
      "legacyPageId": "6022109058",
      "contentFolderId": null,
      "contentGroupId": 3920686537,
      "abTestId": null,
      "languageVariantId": 6022109058,
      "languageCode": null
    }]);
  </script>

  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2068068.js"></script>
  <!-- End of HubSpot Analytics Code -->


  <script type="text/javascript">
    var hsVars = {
      ticks: 1534701298708,
      page_id: 6022109058,
      content_group_id: 3920686537,
      portal_id: 2068068,
      app_hs_base_url: "https://app.hubspot.com",
      language: "en",
      analytics_page_type: "blog-post",
      category_id: 3,
      folder_id: 0
    }
  </script>





  <div id="fb-root"></div>
  <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">
    window.___gcfg = {
      lang: 'en-US',
      parsetags: 'onload'
    };
    (function () {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>






  <!-- end coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
</body>

</html>