<!doctype html>
<!-- start coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-us" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-us" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-us" >               <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-us">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="lord mordeth">
  <meta name="description" content="A summary of all the free and commercial products available for the Torchbearer RPG. Helpful for new players and those returning to the dungeon for a second grind.">
  <meta name="generator" content="HubSpot">
  <title>A Primer for the Torchbearer RPG</title>
  <link rel="shortcut icon" href="https://blog.mordite.press/hubfs/favicon.ico?t=1535392428661">


  <link rel="stylesheet" href="/hs-fs/css/2068068/hub_generated/template_assets/1535394947903/combined-css-1b56afbe8a0ea5c1360201cfd47fd90c.css">
  <script src="/hs/hsstatic/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
  <script>hsjQuery = window['jQuery'];</script>

  <meta property="og:description" content="A summary of all the free and commercial products available for the Torchbearer RPG. Helpful for new players and those returning to the dungeon for a second grind.">
  <meta property="og:title" content="A Primer for the Torchbearer RPG">
  <meta name="twitter:description" content="A summary of all the free and commercial products available for the Torchbearer RPG. Helpful for new players and those returning to the dungeon for a second grind.">
  <meta name="twitter:title" content="A Primer for the Torchbearer RPG">






  <!--  Added by GoogleAnalytics integration -->

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105973247-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- /Added by GoogleAnalytics integration -->



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:image" content="https://blog.mordite.press/hubfs/random-art/DM%20wizard.jpg?t=1535392428661#keepProtocol">
  <meta property="og:image:width" content="432">
  <meta property="og:image:height" content="673">
  <meta name="twitter:image" content="https://blog.mordite.press/hubfs/random-art/DM%20wizard.jpg?t=1535392428661#keepProtocol">

  <meta property="og:url" content="http://blog.mordite.press/a-primer-for-the-torchbearer-rpg?hs_preview=sssmwEck-6110130881">
  <script>var hsVars = { app_hs_base_url: 'https://app.hubspot.com' };</script>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@Lord_Mordeth">

  <link rel="canonical" href="http://blog.mordite.press/a-primer-for-the-torchbearer-rpg">

  <meta property="og:type" content="article">
  <link rel="alternate" type="application/rss+xml" href="//blog.mordite.press/rss.xml">
  <meta name="twitter:domain" content="blog.mordite.press">
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
  </script>

  <meta http-equiv="content-language" content="en-us">



















</head>

<body class="   hs-content-id-6110130881 hs-blog-post hs-blog-id-3920686537" id="skrollr-body">
  <!-- start coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->

  <header class="header">
    <div class="header__wrapper wrapper">
      <div class="header__title">
        <a href="/">
          Mordite Press
        </a>
      </div>
      <nav class="header__nav">
        <ul>
          <li>
            <a href="/topic/products">All Products</a>
          </li>
          <li>
            <a href="/topic/modules">Modules</a>
          </li>
          <li>
            <a href="/topic/supplements">Supplements</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- end coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->


  <div id="hs_cos_wrapper_module_15341108961761208_post" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <section data-variant="short" class="banner lazy" data-src="https://cdn2.hubspot.net/hub/2068068/hubfs/random-art/DM%20wizard.jpg?width=1900&amp;name=DM%20wizard.jpg">
      <div class="banner__content wrapper">
        <h1 class="banner__title">A Primer for the Torchbearer RPG</h1>
        <h2 class="banner__subtitle">A summary of all the free and commercial products available for the Torchbearer RPG.
          Helpful for new players and those returning to the dungeon for a second grind.</h2>
      </div>
    </section>
  </div>
  <main class="wrapper post">
    <section class="post__meta">
      <h2>
        <span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="meta_field"
          data-hs-cos-type="text">A Primer for the Torchbearer RPG</span>
      </h2>
      <div id="hubspot-author_data" class="hubspot-editable post__author" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author"><a
          href="//blog.mordite.press/author/lord-mordeth" class="post__author-avatar">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn2.hubspot.net/hub/2068068/hubfs/Screen%20Shot%202018-08-19%20at%2012.14.57%20PM.png?width=70&amp;name=Screen%20Shot%202018-08-19%20at%2012.14.57%20PM.png"
            alt="Photo of lord mordeth">
        </a><div class=" post__author-meta">
          Written by <a href="//blog.mordite.press/author/lord-mordeth">lord mordeth</a> on Mon, August 27, 2018 2:03 PM
        </div>
      </div>
    </section>

    <article class="post__article">
      <span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" style=""
        data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text">

        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn2.hubspot.net/hubfs/2068068/random-art/DM%20wizard.jpg"
          alt="DM wizard" width="300" style="width: 300px; float: left; margin: 0px 10px 10px 0px;">

        <p>It’s been five years since the Kickstarter for the Torchbearer RPG. There have been a lot of developments since
          then, both through official BWHQ products and the open Torchbearer Sagas License.</p>
        <!--more-->
        <p>While there are plenty of early reviews that cover the basics of the game from when it first released, there aren’t
          many resources detailing the state of the game five years in. So if you’re looking to get into Torchbearer RPG
          or if you’re already a fan and just wondering what’s new out there, this post is for you!</p>
        <h2>What is Torchbearer?</h2>
        <p>Torchbearer is a modern, character-driven RPG that focuses on an old-school style of role-play; namely, the dungeon
          crawl. It is based on the brilliant Mouse Guard RPG.</p>
        <p>It’s not truly an Old School Revival (OSR) type of game because it doesn’t regress to old-style game mechanics.
          It’s more of a spiritual cousin of OSR, where it takes the innovations of the indie RPG scene and applies them
          to the old school themes.</p>
        <p>The end result is a game filled with the thrilling danger and deathtraps of old-school play, but that focuses
          on how personalities interact with the challenges they face. It’s not so much about overcoming obstacles (or dying
          ignominiously) as it is about <em>who</em> is facing the obstacles and how they are changed by them.</p>
        <p>Although it’s derived from Burning Wheel, Torchbearer differs from that game in that the action is very site-based.
          The focus of the adventure is usually on a perilous location that the group must explore and survive, even if they
          all have different motivations for doing so. That’s a bit different from the broad agenda-setting powers granted
          to the players in Burning Wheel, although some of that still remains in Torchbearer.</p>
        <h2>Who Plays Torchbearer?</h2>
        <p>We’ve found that people with no previous RPG experience take really well to the game. In a lot of ways, Torchbearer
          is more like what new players imagine fantasy RPGs to be like than mainstream RPGs tend to be. The focus on descriptive
          interaction and characters really lines up with the spirit of the hobby. Torchbearer is also comparatively light
          on character options; although I wouldn’t call it “rules light”, character creation is very straightforward. This
          makes it easy for new players to jump in without having to do any research.</p>
        <p>Experienced role-players face more complex issues when getting into Torchbearer. In our own groups, many players
          have had to unlearn some habits from a lifetime of fantasy RPGs. The emphasis on description over game mechanics
          can feel limiting at first, and the role of failure in Torchbearer is radically different from other games (except
          perhaps Mouse Guard.) Even so, most experienced players come to love the game as it brings them back to a more
          freewheeling and creative era of the hobby.</p>
        <h2>The Torchbearer Sagas License</h2>
        <p>Torchbearer is a great game, but it has even greater potential. BWHQ has provided an open license to commercially
          publish materials for the game under their editorial veto, called <a href="https://www.torchbearerrpg.com/?page_id=78"
            rel=" noopener" target="_blank">Torchbearer Sagas</a>. There’s also a non-commercial license called <a href="https://www.torchbearerrpg.com/?page_id=76"
            rel=" noopener" target="_blank">Dungeoneers and Dragonslayers</a>. This means anyone can write and publish Torchbearer
          adventures and rules!</p>
        <p>And you should publish! If you’ve had a really great, memorable session of Torchbearer why not consider writing
          it up as a module for other folks to experience?</p>
        <h2>So What’s Out There Now?</h2>
        <p>If you've only just heard of the game or you're thinking of revisiting it after some time away, it can be very
          challenging to piece together all of the materials that are available. Below we're going to explore all the different
          products and accessories as of Fall 2018! It may not be comprehensive, but we'll cover all the big points.</p>
        <p style=" float: left;"><strong><a href="https://store.burningwheel.com/torchbearer-print-pdf-1/" rel=" noopener"
              target="_blank"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/TB1%201st.png"
                alt="TB1 1st" width="111" style="width: 111px; margin: 0px 10px 10px 0px;"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/TB1%202nd.png" alt="TB1 2nd" width="112"
                style="width: 112px; margin: 0px 10px 10px 0px;"></a></strong></p>
        <h3>Rulebooks and Essentials</h3>
        <p>All you really need to start with Torchbearer is a copy of the rulebook (either printing) and a bunch of six-sided
          dice.
        </p>
        <h4><em>Torchbearer RPG 1st and 2nd Printing</em></h4>
        <p>There are two printings of the rulebook. The first printing has metallic gold lettering on the cover and no byline.
          <a href="https://store.burningwheel.com/torchbearer-print-pdf-1/" rel=" noopener" target="_blank">The second (current)
            printing
          </a> has a purple stylized logo and a byline for Luke and Thor.</p>
        <p>If you’re just getting into the game, you can absolutely make do with a first printing. There are a handful of
          corrections—mainly with helping skills and level two traits—but 99% of the first printing is correct and useable.
          There is also a PDF version available.</p>

        <p style="width: 205px; margin: 0px 10px 10px 0px; float: left;">
          <a href="https://www.torchbearerrpg.com/wp-content/uploads/2014/12/TB_classes_singles_r5.pdf" rel=" noopener" target="_blank"><img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Playtest%20Classes.png"
              alt="Playtest Classes" width="205"></a></p>
        <h4>Playtest Classes 1st-10th</h4>
        <p>The core rulebook covers the basic classes from 1st to 5th levels. That’s actually enough for a good amount of
          regular gameplay; at least 11 sessions, likely more, as we will explore in a later blog post. BWHQ has released
          playtest versions of the classes from 6th to 10th level as a free PDF, plus the entire Paladin and Thief bonus
          classes!
        </p>
        <p>
          <a href="https://www.torchbearerrpg.com/wp-content/uploads/2015/02/TB_spells_r1.pdf" rel=" noopener" target="_blank"><img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Playtest%20Spells.png"
              alt="Playtest Spells" width="116" style="float: left; margin: 0px 10px 10px 0px;"></a>

          <a href="https://www.torchbearerrpg.com/wp-content/uploads/2015/02/TB_prayers_r1.pdf " rel=" noopener " target="_blank "><img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Playtest%20Prayers.png
              " alt="Playtest Prayers " width="116 " style="width: 116px; float: left; margin: 0px 10px 10px 0px;"></a>
        </p>

        <h4>Playtest <a href="https://www.torchbearerrpg.com/wp-content/uploads/2015/02/TB_spells_r1.pdf " rel=" noopener "
            target="_blank ">Spells</a> and <a href="https://www.torchbearerrpg.com/wp-content/uploads/2015/02/TB_prayers_r1.pdf "
            rel=" noopener " target="_blank ">Prayers</a></h4>

        <p>Along with those higher level classes come Spells and Prayers for them to use!</p>

        <p>
          <a href="http://www.burningwheel.com/wp-content/uploads/2015/05/TB_The_Terrible_Price.pdf " rel=" noopener " target="_blank ">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Terrible%20Price.png "
              alt="Terrible Price " width="115 " style="width: 115px;float: left; margin: 0px 10px 10px 0px; ">
          </a>
        </p>
        <h4><a href="http://www.burningwheel.com/wp-content/uploads/2015/05/TB_The_Terrible_Price.pdf " rel=" noopener "
            target="_blank ">The Terrible Price
          </a></h4>

        <p>This is an optional rule for replacing or saving high level characters in the event of their untimely demise.
          To use them, you’ll need the </span><strong>guidelines for making characters above first level</strong> which are
      a little harder to find. We’ll cover that process a bit in a later blog post.</p>

      <a href="https://store.burningwheel.com/the-petersen-bestiary-volume-1/ " rel=" noopener " target="_blank "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src=" https://cdn2.hubspot.net/hubfs/2068068/Screen%20Shot%202018-08-27%20at%201.53.02%20PM.png " alt="Screen Shot 2018-08-27 at 1.53.02 PM "
          width="116 " style="width: 116px; float: left; margin: 0px 10px
              10px 0px; "></a>


      <a href="https://store.burningwheel.com/the-petersen-bestiary-volume-2/ " rel=" noopener " target="_blank
              "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/Screen%20Shot%202018-08-27%20at%201.53.21%20PM.png
              " alt="Screen Shot 2018-08-27 at 1.53.21 PM " width="116 " style="width: 116px; float: left; margin: 0px 10px 10px 0px;
              "></a>

      <h4>Petersen Bestiaries (<a href="https://store.burningwheel.com/the-petersen-bestiary-volume-1/ " rel=" noopener "
          target="_blank ">Volume 1</a> &amp; <a href="https://store.burningwheel.com/the-petersen-bestiary-volume-2/ " rel=" noopener "
          target="_blank ">Volume 2</a>)</h4>
      <p>These two volumes feature new monsters for the Torchbearer RPG illustrated by David Petersen of Mouse Guard fame!</p>
      <h4>"Missing " Rules</h4>
      <p>Long time Torchbearer players have come to realize that there are a handful of “missing” rules in the book. There
        are isolated class abilities and references to “Battle” conflicts and a few other things sprinkled throughout the
        book that are not fully explained. Most of these result from the game being derived from the Mouse Guard RPG. While
        the rules in question are not central to the game and it is not essential to reference Mouse Guard to play Torchbearer,
        a real completionist will want to have a copy of Mouse Guard 2nd Edition to help fill in the gaps.</p>
      <h3>Classes</h3>
      <p>If all you’ve ever seen is the core rulebook, you’d be forgiven for thinking Torchbearer is kind of light on class
        options. In truth, between official playtest releases, Memento Mori’s classbooks and Mordite Press’ offerings, there
        are nearly <em>fifty</em>
        playable classes for the game.</p>
      <h4>BWHQ</h4>
      <p>Burning Wheel introduced two classes, the Paladin and the Thief, as free PDF downloads not long after the Torchbearer
        Rulebook was released. Both of those classes are re-released alongside the <a href="https://www.torchbearerrpg.com/wp-content/uploads/2014/12/TB_classes_singles_r5.pdf "
          rel=" noopener
              " target="_blank ">playtest classes 1st–10th</a> linked above.</p>
      <p>In addition, Torchbearer Gazetteer: Middarmark includes a Skald class, a warrior and poet of social standing in
        the Middarmark.</p>
      <strong><i><a href="http://www.memento-mori.com/torchbearer-sagas/ " rel=" noopener " target="_blank
              "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MM_WOE.png "
              alt="MM_WOE
              " width="116 " style="width: 116px; margin: 0px 10px 10px 0px; float: left; "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MM_DotD.png " alt="MM_DotD
              " width="114 " style="width: 114px; float: left; margin: 0px 10px 10px 0px; "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MM_AK.png " alt="MM_AK
              " width="116 " style="width: 116px; float: left; margin: 0px 10px 10px 0px; "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MM_FF.png " alt="MM_FF
              " width="116 " style="width: 116px; float: left; margin: 0px 10px 10px 0px; ">Memento Mori Theatricks</a></i></strong>
      <p><span style="font-weight: 400; ">Memento Mori’s Jared Sorensen cranks out awesome classes for Torchbearer on the
          reg. He’s single-handedly covered nearly every classic FRPG trope, from dark elf sorcerers to minotaur pit fighters
          to half-vampire-vampire-hunters!&nbsp;</span></p>

      <h4><em><a href="https://www.drivethrurpg.com/product/143887/Torchbearer-Sagas-Rune-Casters " rel=" noopener " target="_blank "><img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="
              https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Runecasters.png " alt="Runecasters " width="118 "
              style="width: 118px; float: left; margin: 0px 10px 10px 0px; ">Rune Casters</a></em></h4>
      <p><span style="font-weight: 400; ">Shane King and Hayes Edgeworth bring us the Rune Casters, two classes that utilize
          their own exotic magic system. ALSO THERE’S A FISH MAN CLASS. Note that these classes are only presented with levels
          1st-5th (as that was standard at the time of release), but perhaps we can collectively shame the authors into expanding
          to 10th!&nbsp;</span></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h4><em><a href="https://www.drivethrurpg.com/product/238800/Torchbearer-Sagas-Fearless-and-Freebooting " rel="
              noopener " target="_blank "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="
              https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MP_Fearless.png " alt="MP_Fearless " width="119 "
              style="width: 119px; float: left; margin: 0px 10px 10px 0px;
              "></a><a href="/ " rel=" noopener " target="_blank ">Mordite Press</a></em></h4>
      <p><span style="font-weight: 400; ">Mordite Press offers <a href="https://www.drivethrurpg.com/product/238800/Torchbearer-Sagas-Fearless-and-Freebooting "
            rel=" noopener " target="_blank ">Fearless and Freebooting</a>, nine Middarmark-themed classes which fill out the
          thematic and mythological niches explored in the Torchbearer Gazetteer: Middarmark. We absolutely have plans for
          more Torchbearer classes, but those are super secret!</span></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h4><em>Other Classes</em></h4>
      <p><span style="font-weight: 400; ">There are some other playable classes sprinkled throughout the Torchbearer Sagas
          products, notably including the Hobgoblin Raider in </span><i><span style="font-weight: 400; ">The Lost Crown of
            Tesh Naga.</span></i></p>
      <h3>Modules</h3>
      <p><span style="font-weight: 400; ">A game that centers on dungeon crawls just cries out for unique adventure modules.
          While Torchbearer excels at working with small-scale modules from other fantasy RPGs and generic 1-page dungeons,
          there’s quite a few options out there specifically written for Torchbearer. Perhaps a future blog post will make
          the foolish attempt of stringing all published Torchbearer modules into a single campaign!&nbsp;</span></p>

      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/TB1%202nd.png "
        alt="TB1 2nd " width="112 " style="width: 112px; float: left; margin: 0px 10px 10px 0px; ">Under the House of
      Three Squires (BWHQ)
      <p>Three Squires is the adventure featured in the core Torchbearer rulebook. It is gritty in tone, and it serves as
        the origin story of a surprising number of adventurers! As a word of caution, the dungeon is actually quite large
        for a Torchbearer adventure site, especially for novice players. Expect this to take four or five sessions of play,
        and don't be surprised if it takes your characters to 3rd level.</p>

      <p style="float: left; margin: 0px 10px 10px 0px; ">
        <a href="https://store.burningwheel.com/the-dread-crypt-of-skogenby-pdf/ " rel=" noopener " target="_blank ">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Module_SKogenby.png "
            alt="Module_SKogenby " width="111 " style="width: 111px; "></a>
      </p>
      <h4><a href="https://store.burningwheel.com/the-dread-crypt-of-skogenby-pdf/ " rel=" noopener " target="_blank ">The
          Dread Crypt of Skogenby (BWHQ)</a></h4>

      <p>This is the FREE official "beginner " module from Burning Wheel HQ, and it does a good job of establishing the basics
        of the game for new players and GMs. It is much smaller in scope than Three Squires, so it is manageable in one session
        for an experienced GM, making it a good pull for a convention game. A word of caution (and mild spoiler) is warranted
        here: the adventure's end hinges on the players' ability to think beyond simply bashing monsters with their weapons.
        As a result, players who are totally new to the hobby tend to survive a little better than experienced RP folks who
        have been conditioned for decades to seek violent solutions.</p>
      <strong><i><a href="https://www.drivethrurpg.com/product/149250/The-Lost-Crown-of-TeshNaga " rel=" noopener
              " target="_blank "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Module_Tesh_Naga.png "
              alt="Module_Tesh_Naga " width="111 " style="width: 111px; margin: 0px 10px 10px 0px; float: left; ">The Lost
            Crown of Tesh Naga (DDE Aventures)</a></i></strong>
      <blockquote>
        <p>The sole sagas offering from DDE Adventures. We'd love to see more! Lost Crown is an inventive dungeon crawl reportedly
          inspired by <a href="https://rpgcharacters.wordpress.com/2014/06/20/friday-map-serzens-seven-stairs/ " rel=" noopener "
            target="_blank ">an iconic Dyson Logos map</a>, which we recommend tracking down if you plan to run it. The eponymous
          crown is destined to become one of those storied artifacts that passes from hero to hero as each meets their inevitable
          doom.
        </p>
      </blockquote>
      <h4><em><a href="https://store.burningwheel.com/the-secret-vault-of-the-queen-of-thieves-pdf/ " rel=" noopener " target="_blank "><img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="
              https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Module_Secret_Vault.png " alt="Module_Secret_Vault "
              width="116 " style="width: 116px; float: left; margin: 0px 10px 10px 0px; ">The Secret Vault of the Queen of
            Thieves (BWHQ)</a></em></h4>
      <p><strong><i>Secret Vault is an official BWHQ module by Thor Olavsrud, and for my money it is the best of the lot.
            Although it is on the large side for a single session, the use of a timer keeps the action fast-paced and keeps
            the pressure on the players. Secret Vault is an excellent choice for a convention game to challenge more experienced
            Torchbearer players.&nbsp;</i></strong></p>
      <p>&nbsp;</p>
      <h4><em><a href="https://store.burningwheel.com/the-hand-of-the-pit-pdf/ " rel=" noopener " target="_blank "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Module_Hand_pit.png " alt="Module_Hand_pit "
              width="93 " style="width: 93px; float: left; margin: 0px 10px 10px 0px; ">The Hand of the Pit (BWHQ)</a></em></h4>
      <p><strong><i>Todd James' contest-winning submission to the BWHQ module contest, this medium-sized adventure module
            is lavishly illustrated by... Todd James! Moreso than any of the previous modules on this list, Hand of the Pit
            turns up the "weird " knob to eleven and makes a great delve for grungy, scrappy adventurers.</i></strong></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h4><em><a href="https://www.drivethrurpg.com/product/220255/Torchbearer-Sagas-The-Crypt-of-Khaabr " rel=" noopener "
            target="_blank "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="
              https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MP_Khaabr.png " alt="MP_Khaabr " width="116 "
              style="width: 116px; float: left; margin: 0px 10px 10px 0px; ">The Crypt of Khaab’r (Mordite Press)</a></em></h4>
      <p>For our maiden voyage at Mordite Press, we wanted a module with a truly "classic " feel — goblins, barbarians, and
        evil priests infest this dungeon complex.&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><strong><i><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="
              https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Middarmark.png " alt="Middarmark " width="116 "
              style="width: 116px; float: left; margin: 0px 10px 10px 0px; ">In the Shadow of the Horns (BWHQ)</i></strong></p>
      <p><i style="font-weight: bold; ">Featured in the Torchbearer Gazetteer: Middarmark, In the Shadow of the Horns weaves
          the rich, epic elements of that campaign setting into a sample adventure with a map by the </i><strong>formidable</strong><i
          style="font-weight: bold; ">&nbsp;Michael Prescott.</i></p>
      <i></i>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><strong style="font-size: 23px; background-color: transparent; "><i><a href="https://store.burningwheel.com/stone-dragon-mountain-print-pdf/ "
              rel=" noopener " target="_blank "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Module_Stone_Dragon.png
              " alt="Module_Stone_Dragon " width="116 " style="width: 116px; float: left; margin: 0px 10px 10px 0px; ">Stone
              Dragon Mountain (BWHQ)</a></i></strong></p>
      <p>Sean Nittner nabs the title for the largest, most ambitious Torchbearer module to date. With over 60 pages of dungeon,
        setting, NPCs and rich detail (not to mention stunning art and design), a group could easily use Stone Dragon Mountain
        as the basis for a dozen sessions or a small campaign in itself.</p>
      <p>&nbsp;</p>
      <p><strong style="font-size: 23px; background-color: transparent; "><i><a href="https://www.drivethrurpg.com/product/247924/Torchbearer-Sagas-Roost-of-the-Condor-Queen "><img
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MP_Roost.png "
                alt="MP_Roost " width="117 " style="width: 117px; float: left; margin: 0px 10px 10px 0px;
              "></a><a href="https://www.drivethrurpg.com/product/247924/Torchbearer-Sagas-Roost-of-the-Condor-Queen " rel=" noopener "
              target="_blank ">Roost of the Condor Queen (Mordite Press)</a></i></strong></p>
      <p><span style="background-color: transparent; ">Our most recent module, Roost of the Condor Queen, takes the adventurers
          to a much stranger land indeed. The party will brave the branches of the Great Tree of Puku, and face down mystical
          beings who have traveled from the Otherworld. The adventure also includes robust support for the Banish/Abjure
          conflict, which you can keep on hand for all sorts of supernatural encounters.</span></p>
      <p>&nbsp;</p>
      <h3>Supplements</h3>
      <p><strong><i><a href="https://store.burningwheel.com/middarmark-print-pdf/ " rel=" noopener " target="_blank "><img
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=" https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/Middarmark.png "
                alt="Middarmark " width="116 " style="width: 116px; float: left; margin: 0px 10px 10px 0px; ">Torchbearer Gazetteer:
              Middarmark
            </a></i></strong></p>
      <p><strong><i>This stunning volume details the world of Middarmark, an epic realm inspired by Norse Mythology.</i></strong></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><strong><i><a href="http://www.memento-mori.com/torchbearer-sagas/torchbearer-sagas-lots-o-loot " rel=" noopener "
              target="_blank "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="
              https://cdn2.hubspot.net/hubfs/2068068/random-art/Product%20covers/MM_LoL.png " alt="MM_LoL " width="118 "
                style="width: 118px; float: left; margin: 0px 10px 10px 0px; ">Lots of Loot</a></i></strong></p>
      <p>Jared Sorensen of Memento Mori rounds out the roster of magic items for Torchbearer and then some!</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3>Accessories</h3>
      <h4><a href="https://store.burningwheel.com/torchbearer-players-deck/ " rel=" noopener " target="_blank "><strong><i>Player
              Deck&nbsp;
            </i></strong></a></h4>
      <p><strong><i>Although not strictly required to play the Torchbearer RPG, having at least two player decks on hand
            gives you the ability to manage action choices with cards, greatly enhancing the gameplay. We highly recommend
            it! There are two different versions of the cards available — the first printing comes in the thick box with
            the loose top. This has slightly taller (and more functional) divider cards, but it lacks some of the additional
            cards that are featured in the second printing. The later printing comes in a more traditional cardstock box
            but introduces several new gear cards.</i></strong></p>
      <p>&nbsp;</p>
      <h4><a href="https://store.burningwheel.com/torchbearer-gm-screen-2nd-printing/ "><strong style="font-size: 23px;
              background-color: transparent; "><i>GM Screen
            </i></strong></a></h4>
      <p><strong style="font-size: 23px; background-color: transparent; "><i><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src=" https://cdn2.hubspot.net/hubfs/2068068/GM%20Screen.png " alt="GM Screen " width="583
              " style="width: 583px; float: left; margin: 0px 10px 10px 0px; "></i></strong></p>
      As with the rulebook and the player decks, there are two versions of the GM screen available. The original GM screen is slightly
      smaller and has different information printed on it, but both versions still contain useful info and will shield your
      precious GM notes from the prying eyes of players.
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3>Online Resources</h3>
      <h4><a href="https://www.torchbearerrpg.com/ " rel=" noopener " target="_blank "><strong>The Official Torchbearer RPG
            Blog
          </strong></a></h4>
      <p><strong>This is the official source for news about Torchbearer straight from BWHQ. There's a special category for
          playtest materials which is not to be missed. Hey, look how much Mordite Press stuff is on there!</strong></p>
      <p>&nbsp;</p>
      <h4><a href="https://sites.google.com/view/torchbearerwiki/home " rel=" noopener " target="_blank "><strong><i>Underworld,
              The Torchbearer Wiki</i></strong></a></h4>
      <p><strong><i>Mordite Press's D. Koch is maintaining a wiki that compiles all of the various character options and
            stuff available in the game. Sort of like this blog post, but on a more granular level useful for actual play.
            If you want a list of every magician/elf spell in the game across all books with page number references, or a
            list of all of the Immortal Lords yet mentioned, this wiki is what you seek! And if you see anything missing
            from it, go ahead and get involved!</i></strong></p>
      <h4><a href="http://larkvi.com/misc/TorchbearerTables.html " rel=" noopener " target="_blank "><strong><i>Torchbearer
              Tools
            </i></strong></a></h4>
      <p><strong>Table-based loot rolling isn't for everyone, but the fact is your players need loot to stay alive! Make
          sure you're giving them their fair share (five might 2 goblins is 10 rolls! 10!) by firing up the larkvi.com Torchbearer
          Tools! This can be a real life-saver for the GM.</strong></p>
      <h2><i>Final Thoughts</i></h2>
      <p><strong>There's more to the world of Torchbearer out there, but hopefully this puts everyone on the same page about
          the state of the game. Mordite Press is currently developing several new modules and supplements for Torchbearer
          Sagas, and we're also working with a few independent folks to get their own Sagas imprints started. Hopefully in
          another year or two there will be so much more to Torchbearer I'll need to create a new list!</strong></p></span>
    </article>

    <p class="post__topics "> Topics:

      <a class="post__topics-link " href="//blog.mordite.press/topic/mordite-mondays ">Mordite Mondays</a>

    </p>
  </main>
  <!-- start coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->
  <!-- postImage: https://cdn2.hubspot.net/hubfs/2068068/random-art/DM%20wizard.jpg -->
  <footer class="footer " style="background-image:url(
              'https://blog.mordite.press/hubfs/random-art/DM%20wizard.jpg?t=1535392428661') ">
    <div class="footer__content wrapper ">
      <ul>
        <li>
          <a href="https://plus.google.com/+OwenO " target="_blank ">Google Plus</a>
        </li>
        <li>
          <a href="http://www.drivethrurpg.com/browse/pub/11809/Mordite-Press " target="_blank ">DriveThruRPG</a>
        </li>
        <li>
          <a href="https://twitter.com/morditepress " target="_blank ">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/lord_mordeth/ " target="_blank ">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/morditepress/ " target="_blank ">Facebook</a>
        </li>

      </ul>
    </div>
  </footer>

  <script type="text/javascript " src="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534781390072/Custom/Blog/Mordite_Blog/Coded_Files/scripts.js "></script>
  <!-- end coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->


  <script type="text/javascript " src="/hs/hsstatic/content_shared_assets/static-1.4081/js/public_common.js "></script>
  <script>
    if (typeof hsVars !== 'undefined') { hsVars['language'] = 'en-us'; }
  </script>

  <script src="/hs/hsstatic/cos-i18n/static-1.10/bundles/project.js "></script>

  <!-- Start of HubSpot Analytics Code Not Loaded -->
  <script>
    (function () {
      var event = new CustomEvent("content-analytics-code-not-loaded ", {
        detail: "Not load in preview mode "
      });
      window.dispatchEvent(event);
    })();
  </script>
  <!-- End of HubSpot Analytics Code Not Loaded -->


  <script type="text/javascript ">
    var hsVars = {
      ticks: 1535397205930,
      page_id: 6110130881,
      content_group_id: 3920686537,
      portal_id: 2068068,
      app_hs_base_url: "https://app.hubspot.com ",
      language: "en ",
      analytics_page_type: "blog-post ",
      category_id: 3,
      folder_id: 0
    }
  </script>





  <div id="fb-root "></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0 ";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript
              ">
    window.___gcfg = {
      lang: 'en-US',
      parsetags: 'onload'
    };
    (function () {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js "; fjs.parentNode.insertBefore(js, fjs); } }(document, "script ", "twitter
      - wjs ");</script>






  <!-- end coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
</body>

</html>