<!doctype html>
<!-- start coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-us" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-us" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-us" >               <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-us">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Owen O.">
  <meta name="description" content="Explore the lost city of Puku and uncover the magics of the Condor Queen.">
  <meta name="generator" content="HubSpot">
  <title>Roost of the Condor Queen</title>
  <link rel="shortcut icon" href="https://blog.mordite.press/hubfs/favicon.ico?t=1534449030148">


  <link rel="stylesheet" href="/hs-fs/css/2068068/hub_generated/template_assets/1534181799322/combined-css-5836e15b38e01f90425a2e9a29c0935c.css">
  <script src="/hs/hsstatic/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
  <script>hsjQuery = window['jQuery'];</script>

  <meta property="og:description" content="Explore the lost city of Puku and uncover the magics of the Condor Queen.">
  <meta property="og:title" content="Roost of the Condor Queen">
  <meta name="twitter:description" content="Explore the lost city of Puku and uncover the magics of the Condor Queen.">
  <meta name="twitter:title" content="Roost of the Condor Queen">






  <!--  Added by GoogleAnalytics integration -->

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105973247-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- /Added by GoogleAnalytics integration -->



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:image" content="https://blog.mordite.press/hubfs/roost-of-the-condor-queen-torchbearer.jpg?t=1534449030148#keepProtocol">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="388">
  <meta name="twitter:image" content="https://blog.mordite.press/hubfs/roost-of-the-condor-queen-torchbearer.jpg?t=1534449030148#keepProtocol">

  <meta property="og:url" content="http://blog.mordite.press/roost-of-the-condor-queen">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="canonical" href="http://blog.mordite.press/roost-of-the-condor-queen">

  <meta property="og:type" content="article">
  <link rel="alternate" type="application/rss+xml" href="//blog.mordite.press/rss.xml">
  <meta name="twitter:domain" content="blog.mordite.press">
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
  </script>

  <meta http-equiv="content-language" content="en-us">



















</head>

<body class="   hs-content-id-6057837016 hs-blog-post hs-blog-id-3920686537" id="skrollr-body">
  <!-- start coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->

  <header class="header">
    <div class="header__wrapper wrapper">
      <div class="header__title">
        <a href="/">
          Mordite Press
        </a>
      </div>
      <nav class="header__nav">
        <ul>
          <li>
            <a href="/topic/products">All Products</a>
          </li>
          <li>
            <a href="/topic/modules">Modules</a>
          </li>
          <li>
            <a href="/topic/supplements">Supplements</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- end coded_template: id:6021380085 path:Custom/Blog/Mordite_Blog/Templates/Blog_Header.html -->


  <div id="hs_cos_wrapper_module_15341108961761208_post" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <section data-variant="short" class="banner" style="background-image:url('https://cdn2.hubspot.net/hub/2068068/hubfs/roost-of-the-condor-queen-torchbearer.jpg?width=780&amp;name=roost-of-the-condor-queen-torchbearer.jpg&amp;t=1534449030148')">
      <div class="banner__content wrapper">
        <h1 class="banner__title"><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text"
            style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">Roost of the Condor Queen</span></h1>
        <h2 class="banner__subtitle">Explore the lost city of Puku and uncover the magics of the Condor Queen.</h2>
      </div>
    </section>
  </div>
  <main class="wrapper post">
    <section class="post__meta">
      <h2>
        <a href="//blog.mordite.press/roost-of-the-condor-queen"><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text"
            style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">Roost of the Condor Queen</span></a>
      </h2>
      <div id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
        Posted by <a class="author-link" href="//blog.mordite.press/author/owen-o">Owen O.</a> on Jul 22, 2018 8:12:00 PM
      </div>
    </section>

    <article class="post__article">
      <span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" style=""
        data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text"><p>A century ago, emissaries from Puku would
          travel into the kingdom of Feudor, offering priceless artifacts to trade and dispensing unique insights into the
          profound mysteries of the Otherworld. For a hundred years they have languished in myth. Recently a lost traveler
          turned up with a wild tale of having found the lost city… and a map.</p>
        <!--more-->
        <p>Now the race is on as desperate adventurers and their rivals seek to be the first to reestablish contact with
          the lost city of Puku, and to reap the rewards to be found in...</p>
        <p>...the <em>Roost of the Condor Queen</em>!</p>
        <p>This Torchbearer RPG Adventure contains:</p>
        <ul>
          <li>A dungeon in a colossal tree!</li>
          <li>Details on the lost city of Puku and its people!</li>
          <li>Guidance on <a href="#">running</a> a Banish/Abjure Conflict!</li>
          <li>New Magic Items, including the Amulet of Bird Control!</li>
          <li>New monsters like the horrible Astral Moth and its Dusk Worm spawn!</li>
        </ul>
        <p>
          <!--more-->
        </p>
        <p><a href="http://www.drivethrurpg.com/product/247924/Torchbearer-Sagas-Roost-of-the-Condor-Queen" rel=" noopener"
            target="_blank">DriveThruRPG</a></p></span>
    </article>


    <div class="post__comments">
      0 Comments <a href="//blog.mordite.press/roost-of-the-condor-queen#comments-listing">Click here to read/write comments</a>
    </div>
    <p class="post__topics"> Topics:

      <a class="post__topics-link" href="//blog.mordite.press/topic/products">Products</a>,

      <a class="post__topics-link" href="//blog.mordite.press/topic/modules">Modules</a>

    </p>
  </main>
  <!-- start coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->
  <!-- start coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->
  <footer class="footer" style="background-image:url('https://blog.mordite.press/hubfs/roost-of-the-condor-queen-torchbearer.jpg?t=1534449030148')">
    <div class="footer__content wrapper">
      <ul>
        <li>
          <a href="https://plus.google.com/+OwenO" target="_blank">Google Plus</a>
        </li>
        <li>
          <a href="http://www.drivethrurpg.com/browse/pub/11809/Mordite-Press" target="_blank">DriveThruRPG</a>
        </li>
        <li>
          <a href="https://twitter.com/morditepress" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/lord_mordeth/" target="_blank">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/morditepress/" target="_blank">Facebook</a>
        </li>

      </ul>
    </div>
  </footer>

  <script type="text/javascript" src="https://blog.mordite.press/hs-fs/hub/2068068/hub_generated/template_assets/1534123423671/Custom/Blog/Mordite_Blog/Coded_Files/scripts.js"></script>
  <!-- end coded_template: id:6021388728 path:Custom/Blog/Mordite_Blog/Templates/Blog_Footer.html -->


  <script type="text/javascript" src="/hs/hsstatic/content_shared_assets/static-1.4081/js/public_common.js"></script>
  <script>
      (function () {
        window.addEventListener('load', function () {
          setTimeout(function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/_hcms/perf', true /*async*/);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.onreadystatechange = function () {
              // do nothing.
            };
            var connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection;
            function populateNetworkInfo(name, connection, info) {
              if (name in connection) {
                info[name] = connection[name];
              }
            }
            var networkInfo = {};
            if (connection) {
              ['type', 'effectiveType', 'downlink', 'rtt'].forEach(function (name) {
                populateNetworkInfo(name, connection, networkInfo);
              });
            }
            var perfData = {
              url: location.href,
              portal: 2068068,
              content: 6057837016,
              group: -1,
              connection: networkInfo,
              timing: performance.timing
            };
            xhr.send(JSON.stringify(perfData));
          }, 3000);  // Execute this 3 seconds after onload.
        });
      })();
  </script>

  <script>
    if (typeof hsVars !== 'undefined') { hsVars['language'] = 'en-us'; }
  </script>

  <script src="/hs/hsstatic/cos-i18n/static-1.10/bundles/project.js"></script>

  <!-- Start of HubSpot Analytics Code -->
  <script type="text/javascript">
    var _hsq = _hsq || [];
    _hsq.push(["setContentType", "blog-post"]);
    _hsq.push(["setCanonicalUrl", "http:\/\/blog.mordite.press\/roost-of-the-condor-queen"]);
    _hsq.push(["setPageId", "6057837016"]);
    _hsq.push(["setContentMetadata", {
      "contentPageId": 6057837016,
      "legacyPageId": "6057837016",
      "contentFolderId": null,
      "contentGroupId": 3920686537,
      "abTestId": null,
      "languageVariantId": 6057837016,
      "languageCode": null
    }]);
  </script>

  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2068068.js"></script>
  <!-- End of HubSpot Analytics Code -->


  <script type="text/javascript">
    var hsVars = {
      ticks: 1534692129064,
      page_id: 6057837016,
      content_group_id: 3920686537,
      portal_id: 2068068,
      app_hs_base_url: "https://app.hubspot.com",
      language: "en",
      analytics_page_type: "blog-post",
      category_id: 3,
      folder_id: 0
    }
  </script>





  <div id="fb-root"></div>
  <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">
    window.___gcfg = {
      lang: 'en-US',
      parsetags: 'onload'
    };
    (function () {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>






  <!-- end coded_template: id:6021376398 path:Custom/Blog/Mordite_Blog/Templates/Blog_Template.html -->
</body>

</html>